.seasons {
  padding-top: 20vh;
}

@media only screen and (min-width: 900px) {
  .movie {
    display: flex;
    padding-top: 5vh;
  }

  .details {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .movie {
    padding-top: 5vh;
  }

  .details {
    padding-top: 30px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 1900px) {
  .background {
    background-position: right top;
  }
}

@media only screen and (min-width: 1900px) {
  .background {
    background-position: center top;
  }
}
